<h2><%= @track.title %></h2>

Uploaded by <strong><a href="<%= user_url(@track.uploader) %>"><%= @track.uploader.username %></a></strong><br>

<% if @track.cover_art_url %>
  <img src="<%= @track.cover_art_url %>" alt="<%= @track.title %>" /><br>
<% end %>
<strong>Add to playlist:</strong><br>
<form id="add-to-playlist" action="/playlist_memberships" method="post">
  <%= auth_token_input %>
  <input type="hidden" name="membership[track_id]" value="<%= @track.id %>">
  <select name="membership[playlist_id]">
    <% current_user.playlists.each do |playlist| %>
      <option value="<%= playlist.id %>"><%= playlist.title %></option>
    <% end %>
  </select>
  <input type="submit" value="Add">
  <a href="/playlists/new?track=<%= @track.id %>">Add to new playlist</a>
</form>

<% if current_user_owns_track?(@track) %>

  <a href="<%= edit_track_url(@track) %>">Edit track</a>

  <form id="delete-track" action="<%= track_url(@track) %>" method="post">
    <%= auth_token_input %>
    <%= method_input(:delete) %>
    <input type="submit" value="Delete track">
  </form>
<% end %>

<h3>Post Comment</h3>
<form action="<%= track_comments_url(@track) %>" method="post">
  <%= auth_token_input %>
  <input type="hidden" name="comment[track_id]" value="<%= @track.id %>">
  <textarea name="comment[body]"></textarea>
  <input type="submit" value="Post">
</form>

<h3>Comments</h3>
<ul>
  <% @track.comments.each do |comment| %>
    <li>
      <strong><%= comment.user.username %> on <%= comment.created_at.to_s(:short) %>
      <%= "in reply to " + comment.parent_comment.user.username if comment.parent_comment %>:

      </strong>
      <p><%= comment.body %></p>
      <a href="<%= new_track_comment_url(@track) %>?parent=<%= comment.id %>">[Reply]</a>
      <% if comment.user_id == current_user.id %>
        <a href="<%= edit_comment_url(comment) %>">[Edit]</a>
        <form action="<%= comment_url(comment) %>" method="post">
          <%= auth_token_input %>
          <%= method_input(:delete) %>
          <input type="submit" value="Delete comment">
        </form>
      <% end %>
    </li>
  <% end %>
</ul>
