<%= javascript_include_tag 'application' %>
<script charset="utf-8">
  window.currentUser = {
    id: <%= current_user.id %>,
    name: "<%= current_user.username %>",
    playlists: new Soundclone.Collections.Playlists({userId: <%= current_user.id %>})
  }

  authToken = "<%= form_authenticity_token %>";

  console.log(currentUser.playlists)
</script>

<header>
  <nav class="group">
      <ul class="header header-left group">
        <li class="logo"><a href="/backbone">BeatSoup</a></li>
        <li><a href="#">Favorites</a></li>
        <li><a href="#">Explore</a></li>
      </ul>

      <ul class="header header-right group">
        <li><a href="#tracks/new">Upload track</a></li>
        <li><a href="#playlists/new">Create playlist</a></li>
        <li><a href="#/users/<%= current_user.id %>"><%= current_user.username %></a></li>
        <li>
          <form id="log-out" action="/session" method="post">
            <%= auth_token_input %>
            <%= method_input(:delete) %>
            <button class="sign-out">Sign Out</button>
          </form>
        </li>
      </ul>

  </nav>
</header>


<% if flash[:errors] %>
  <%= flash[:errors].join("<br>").html_safe %>
  <br><br>
<% end %>



<main id="app" class="group">

  <section id="content">

  </section>

  <section id="queue">
    fdfd
  </section>

</main>
