<%= javascript_include_tag 'application' %>

<script charset="utf-8">

  $(document).ready(function(){
  Soundclone.initialize();
  });

  window.currentUser = {
    id: <%= current_user.id %>,
    name: "<%= current_user.username %>",
    playlists: new Soundclone.Collections.Playlists({userId: <%= current_user.id %>})
  }

  window.tags = <%= Tag.all.pluck(:name).to_json.html_safe %>
  window.queueTracks = new Soundclone.Collections.Tracks();
  window.queueTracks.reset(<%= get_queue_tracks %>)
  authToken = "<%= form_authenticity_token %>";

</script>




<header class="group">
  <nav class="group">
      <ul class="header header-left group">
        <li class="logo"><a href="#">AudioNimbus</a></li>
        <li><a href="#/favorites">Favorites</a></li>
        <li><a href="#/explore">Explore</a></li>
      </ul>

      <ul class="header header-right group">
        <li><a href="#/tracks/new">Upload track</a></li>
        <li><a href="#/playlists/new">Create playlist</a></li>
        <li><a href="#/users/<%= current_user.id %>"><%= current_user.username %></a></li>
        <li>
          <form id="log-out" action="/session" method="post">
            <%= auth_token_input %>
            <%= method_input(:delete) %>
            <button class="sign-out">Sign Out</button>
          </form>
        </li>
      </ul>

  </nav>
</header>




<main id="app" class="group">

  <section id="content">

  </section>

  <section id="queue">

  </section>

</main>
