<h2><%= @user.username %></h2>

<% if @user.avatar_url %>
  <img src="<%= @user.avatar_url %>" alt="<%= @user.username %>" /><br>
<% end %>
<h3><%= @user.username %>'s Tracks</h3>
<% @user.tracks.each do |track| %>
  <a href="<%= track_url(track) %>"><%= track.title %></a><br>
<% end %>
<br>

<h3><a href="<%= user_playlists_url(@user) %>"><%= @user.username %>'s Playlists</a></h3>
<% @playlists.each do |playlist| %>
  <a href="<%= playlist_url(playlist) %>"><%= playlist.title %></a>
<% end %>
