<h2><%= @user.username %></h2>

<% if @user.avatar_url %>
  <img src="<%= @user.avatar_url %>" alt="<%= @user.username %>" /><br>
<% end %>
<% @user.tracks.each do |track| %>
  <a href="<%= track_url(track) %>"><%= track.title %></a><br>
<% end %>
