<h4><%= track.escape('title') %></h4>

<h4>Uploaded by <%= track.escape('uploader_name') %></h4>

<% if (track.get('cover_thumb')){ %>
  <img src="<%= track.escape('cover_thumb') %>" alt="<%= track.escape('title') %>" />
<% } %>

<audio src="<%= track.escape('audio') %>" preload="none" controls>
  <p>Your browser does not support the audio element.</p>
</audio>


<br>
