<a href="#/tracks/<%= track.id %>"><h4><%= track.escape('title') %></h4></a>

<h4>Uploaded by <a href="#/users/<%= track.escape('uploader_id') %>"><%= track.escape('uploader_name') %></a></h4>

<% if (track.get('cover_thumb')){ %>
  <img src="<%= track.escape('cover_thumb') %>" alt="<%= track.escape('title') %>" />
<% } %>

<audio src="<%= track.escape('audio') %>" preload="none" controls>
  <p>Your browser does not support the audio element.</p>
</audio>


<br>
