<h2><%= track.escape('title') %></h2>

Uploaded by <strong><a href="#/users/<%= track.get('uploader_id') %>"><%= track.escape('uploader_name') %></a></strong><br>

<% if (track.get('audio')){ %>
<audio src="<%= track.escape('audio') %>" preload="auto" controls>
  <p>Your browser does not support the audio element.</p>
</audio><br>
<% } %>

<div id="track-tags">

</div>

<% if (track.get('cover')) { %>
  <img src="<%= track.escape('cover') %>" alt="<%= track.escape('title') %>" /><br>
<% } %>

<% if (currentUser.id === track.get('uploader_id')) { %>

<a href="#/tracks/<%= track.id %>/edit">Edit track</a>
<br>
<button id="delete-track">Delete track</button>
<% } %>

<div id="add-to-playlist">

</div>
<a href="#/playlists/new/<%= track.id %>">Add to new playlist</a>

<div id="likes">

</div>

<div id="comments">

</div>
