<h2><%= track.escape('title') %></h2>

Uploaded by <strong><a href="#/users/<%= track.get('uploader_id') %>"><%= track.escape('uploader_name') %></a></strong><br>

<% if (track.get('cover_art_url')) { %>
  <img src="<%= track.get('cover_art_url') %>" alt="<%= track.get('title') %>" /><br>
<% } %>

<% if (currentUser.id === track.get('uploader_id')) { %>

<a href="#/tracks/<%= track.id %>/edit">Edit track</a>
<br>
<button id="delete-track">Delete track</button>
<% } %>

<div id="add-to-playlist">
  
</div>
