<form id="playlist-form" action="<%= playlist.new_record? ? "/playlists" : playlist_url(playlist) %>" method="post">
  <%= auth_token_input %>
  <%= method_input(:patch) unless playlist.new_record? %>
  <% if track %>
    <input type="hidden" name="track" value="<%= track %>">
  <% end %>
  <label>
    <strong>Title: </strong>
    <input type="text" name="playlist[title]" value="<%= playlist.title %>">
  </label>

  <label>
    <strong>Description (1000 chars max): </strong>
    <textarea name="playlist[description]"><%= playlist.description %></textarea>
  </label>

  <input type="submit" name="some_name" value="<%= playlist.new_record? ? "Create!" : "Update!" %>">

</form>
