<h2><%= @user.username %>'s Playlists</h2>
<% owner = current_user.id == @user.id %>
<% @playlists.each do |playlist| %>
  <% next unless (playlist.public? || owner) %>
  <h3><a href="<%= playlist_url(playlist) %>"><%= playlist.title %></a></h3>
  <% if owner %>
    <form action="<%= playlist_url(playlist) %>" method="post">
      <%= auth_token_input %>
      <%= method_input(:delete) %>
      <input type="submit" value="Delete">
    </form>
  <% end %>
<% end %>
