<h2><%= @playlist.title %></h2>

<% @playlist.memberships.each do |membership| %>
  <% track = membership.track %>
  <a href="<%= track_url(track) %>"><%= track.title %></a>
  <% if current_user.id == @playlist.owner_id %>
    <form action="<%= playlist_membership_url(membership) %>" method="post">
      <input type="hidden" name="membership[playlist_id]" value="<%= @playlist.id %>">
      <%= auth_token_input %>
      <%= method_input(:delete) %>
      <input type="submit" value="Remove">
    </form>
  <% end %>
  <br>
<% end %>
