<!DOCTYPE html>
<html>
<head>
  <title>BeatSoup</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless signed_in? %>
  <header>
    <nav class="group sign-in-header">

      <h1>BeatSoup</h1>

    </nav>
  </header>
<% end %>

<%# unless request.fullpath.match("backbone") %>
<section id="errors">
  <% if flash.now[:errors] %>
    <%= flash.now[:errors].join("<br>").html_safe %>
  <% end %>
<%# end %>
</section>

<%= yield %>

</body>
</html>
